*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.purplecontainer{
    background-color: rgba(122,67,151,255) ;
    height: 100vh;
    margin: 0px 35px 0px 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signup{
    height: 600px;
    width: 390px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 25px 38px 1px #521f6a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sign1{
    color: #7b3f9b;
    font-weight: 900;
    font-size: 25px;
    font-family:sans-serif;
}
.sign2{
    color: black;
    font-weight: 900;
    font-size: 22px;
    font-family:sans-serif;
}
.signbox{
    background-color: rgba(122,67,151,255);
    border: 2px solid black;
    border-radius: 40px;
    height: 60px;
    width: 20rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 2px black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 300px;
    width: 350px;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:sans-serif;
    font-weight: bolder;

}
input{
    border: 2px solid black;
    border-radius: 5px;
    height: 45px;
    /* box-shadow: 2.5px 8px black; */
    font-family:sans-serif;
}
.lasttext{
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 19px;
}
.loginhere{
    font-weight: 900;
    color: rgba(122,67,151,255);
    text-decoration: none;
}
